<div class="dash">
  <!-- Back button - only show when tag filter is active -->
  <button class="back-button"
    *ngIf="showBackButton$ | async"
    (click)="goBack()"
    class="back-button"
  >
    < Go Back
  </button>

  <div class="title-and-search">
    <h1 class="page-title">{{ pageTitle$ | async }}</h1>

    <div class="search">
      <span>
        <img src="assets/images/icon-search.svg" alt="Search" />
      </span>
      <input
        type="text"
        placeholder="Search notes by title, content, or tag..."
        [formControl]="searchControl"
      />
    </div>
  </div>

  <div class="note-cards">
    @if (notes.length === 0) {
    <p>No notes found.</p>
    }@else {

      @for (note of notes; track $index) {
  
      <app-note-card [note]="note"></app-note-card>
      }
    }

  </div>
</div>
