<div class="tags-container">
  <header class="settings">
    <h1>Settings</h1>
  </header>

  <div class="settings-content">
    <div [routerLink]="['color-theme']" class="color-theme">
      <span>
        <img src="assets/images/icon-sun.svg" alt="Tag" class="tag-icon" />
      </span>

      <p>Color Theme</p>
    </div>
    <div class="font-theme">
      <span>
        <img src="assets/images/icon-font.svg" alt="Tag" class="tag-icon" />
      </span>

      <p>Font Theme</p>
    </div>
  </div>
</div>

