<div class="note-container">
  <!-- Header -->

  <form [formGroup]="noteForm" (ngSubmit)="onSubmit()"  >
    <header class="note-header">
      <button type="button" (click)="backToDashboard()" >
        <span>
          <img src="assets/images/icon-arrow-left.svg" alt="Arrow Back" />
        </span>
        Go Back
      </button>

      <div class="header-actions">
        <button
          *ngIf="isEditingNote"
          type="button"
          (click)="confirmDelete()"
          
        >
          <span>
            <img src="assets/images/icon-delete.svg" alt="Delete" />
          </span>
        </button>

        <button
        class="archive-btn"
          *ngIf="isEditingNote"
          (click)="isArchived ? unArchiveNote() : archiveNote()"
          [class.disabled]="isArchived"
         
        >
          <span>
            <img src="assets/images/icon-archive.svg" alt="Archive" />
          </span>
        </button>

        <button type="button" (click)="backToDashboard()" >
          Cancel
        </button>
        <button  [disabled]="noteForm.invalid" type="submit" >Save</button>
      </div>
    </header>

    <main class="note-content">
      <!-- Title -->

      <textarea
        id="title"
        formControlName="title"
        placeholder="Enter a title…"
        maxlength="30"
        [class.border-red-500]="
          noteForm.get('title')?.invalid &&
          (noteForm.get('title')?.dirty || noteForm.get('title')?.touched)
        "
      ></textarea>
      <p
        *ngIf="
          noteForm.get('title')?.invalid &&
          (noteForm.get('title')?.dirty || noteForm.get('title')?.touched)
        "
        
      >
        Title is required.
      </p>

      <!-- Meta Information -->
      <div class="note-meta">
        <div class="meta-item">
          <div class="tags">
            <div class="before">
              
                <img src="assets/images/icon-tag.svg" alt="Tags" />
              
              <label for="tags" >Tags</label>
            </div>
            <input
              id="tags"
              type="text"
              formControlName="tags"
              
              placeholder="Enter tags separated by commas"
            />
          </div>
        </div>

        <div class="meta-item">
          <div class="before">
           
              <img src="assets/images/icon-clock.svg" alt="Edit" />
            
            <p>Last edited</p>
          </div>
          <p>
            {{
              lastEditedAt ? (lastEditedAt | date : "medium") : "Not edited yet"
            }}
          </p>
        </div>
      </div>

      <hr />

      <textarea
        id="content"
        formControlName="content"
        placeholder="Start typing your note here…"
      >
      </textarea>
    </main>
  </form>


  <!-- Delete Modal -->
<div class="modal-overlay" *ngIf="showConfirmDelete">
  <div class="modal" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <div class="delete-icon">
        <img src="assets/images/icon-delete.svg" alt="Delete" />
      </div>
      <h2 class="modal-title">Delete Note</h2>
    </div>
    
    <div class="modal-content">
      <p>Are you sure you want to permanently delete this note? This action cannot be undone.</p>
    </div>
    
    <div class="modal-actions">
      <button 
        type="button" 
        class="btn btn-secondary" 
        (click)="cancelDelete()">
        Cancel
      </button>
      <button 
        type="button" 
        class="btn btn-danger" 
        (click)="onDelete()">
        Delete Note
      </button>
    </div>
  </div>
</div>
</div>


