<div class="note-container">
  <!-- Header -->

  <form [formGroup]="noteForm" (ngSubmit)="onSubmit()" >
    <header class="note-header">
      <button type="button" (click)="backToDashboard()" >
        <span>
          <img src="assets/images/icon-arrow-left.svg" alt="Arrow Back" />
        </span>
        Go Back
      </button>

      <div class="header-actions">
        <button
          *ngIf="isEditingNote"
          type="button"
          (click)="confirmDelete()"
          
        >
          <span>
            <img src="assets/images/icon-delete.svg" alt="Delete" />
          </span>
        </button>

        <button
          *ngIf="isEditingNote"
          type="button"
          (click)="isArchived ? unArchiveNote() : archiveNote()"
         
        >
          <span>
            <img src="assets/images/icon-archive.svg" alt="Archive" />
          </span>
        </button>

        <button type="button" (click)="backToDashboard()" >
          Cancel
        </button>
        <button type="submit" >Save Note</button>
      </div>
    </header>

    <main class="note-content">
      <!-- Title -->

      <textarea
        id="title"
        formControlName="title"
        placeholder="Enter a title…"
        maxlength="30"
        [class.border-red-500]="
          noteForm.get('title')?.invalid &&
          (noteForm.get('title')?.dirty || noteForm.get('title')?.touched)
        "
      ></textarea>
      <p
        *ngIf="
          noteForm.get('title')?.invalid &&
          (noteForm.get('title')?.dirty || noteForm.get('title')?.touched)
        "
        
      >
        Title is required.
      </p>

      <!-- Meta Information -->
      <div class="note-meta">
        <div class="meta-item">
          <div class="tags">
            <div class="before">
              
                <img src="assets/images/icon-tag.svg" alt="Tags" />
              
              <label for="tags" >Tags</label>
            </div>
            <input
              id="tags"
              type="text"
              formControlName="tags"
              
              placeholder="Enter tags separated by commas"
            />
          </div>
        </div>

        <div class="meta-item">
          <div class="before">
           
              <img src="assets/images/icon-clock.svg" alt="Edit" />
            
            <p>Last edited</p>
          </div>
          <p>
            {{
              lastEditedAt ? (lastEditedAt | date : "medium") : "Not edited yet"
            }}
          </p>
        </div>
      </div>

      <hr />

      <textarea
        id="content"
        formControlName="content"
        placeholder="Start typing your note here…"
      >
      </textarea>
    </main>
  </form>

  <!-- <div *ngIf="showConfirmDelete" >
    <div >
      <h3 >Confirm Deletion</h3>
      <p >
        Are you sure you want to delete this note? This action cannot be undone.
      </p>
      <div >
        <button (click)="cancelDelete()" >Cancel</button>
        <button (click)="onDelete()" >
          <span>
            <img src="assets/images/icon-delete.svg" alt="Delete" />
          </span>
        </button>
      </div>
    </div>
  </div> -->
</div>
